.custom-footer {
  font-family: var(--font-body);
  color: var(--color-white);
  margin-top: 40px;
}


.footer-top {
  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  border-top-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);
}

.footer-left h2 {
  font-family: var(--font-brand);
  font-size: 1.9rem;
  margin: 0;
}

.footer-left p {
  font-family: var(--font-body);
  font-size: 0.95rem;
  margin: 5px 0 0 0;
}

.footer-right {
  display: flex;
  gap: 25px;
}

.footer-right img {
  width: 35px;
  height: 35px;
  opacity: 0.6;
  transition: opacity var(--transition-slow);
  filter: grayscale(100%);
}

.footer-right img:hover {
  opacity: 1;
  filter: none;
}


.footer-middle {
  background-color: var(--color-red-dark);
  height: 200px;
}


.footer-bottom {
  background-color: var(--color-black);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}
