
.site-header {
  background-color: #A00303;
  border-radius: 12px;
  padding: 0.5rem 1.5rem;
  margin: 1rem auto;
  max-width: 95%;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-logo {
  height: 40px;
  width: auto;
}

.brand-name {
  font-family: 'Lemon', serif;
  font-size: 1.8rem;
  font-weight: 600; 
  color: #fff;      
  margin-left: 0.5rem;
}




.site-nav {
  display: flex;
  gap: 1.5rem;
}

.site-nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.2s ease;
}

